<h1> User <%= @user.id %> </h1>

<p><h3> <%= @user.id %> </h3></p>
<p><h3> <%= @user.petal_id %> </h3></p>
<p><h3> <%= @user.access_token %> </h3></p>
<p><h3> <%= @user.provider %> </h3></p>
<p><h3> <%= @user.name %> </h3></p>
<p><h3> <%= @user.email %> </h3></p>