<h1> Product <%= @product.code %></h1>
<br>
<p><h3><%= @product.name %></h3></p>
<p><h3><%= @product.code %></h3></p>
<p><h3><%= @product.description %></h3></p>
<p><h3><%= @product.price %></h3></p>
<p><%= image_tag @product.small %></p>
<p><%= image_tag @product.large %></p>